*{
    margin: 0;
    padding: 0;
    font-family: 'OpenSans';
    box-sizing: border-box;

    user-select: none;
}

body{
    padding: 60px 0 50px 0;
}

.container{
    display: block;
    width: 800px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
}

.scroll-bar{
    // max-height: calc(100vh - 110px);
    // overflow-y: auto;
}

@media screen and (max-width: 820px) {
    .container{
        width: calc(100% - 30px);
        margin: 0 15px;
    }
}
.loader{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    z-index: 100600;

    .a-center{
        width: 100vw;
        margin-top: calc((100vh - 23px) / 2);

        .spinner {
            margin: 100px auto 0;
            width: 70px;
            text-align: center;
            div {
                width: 18px;
                height: 18px;
                background-color: $main-c;

                border-radius: 100%;
                display: inline-block;
                -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
                animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            }
            .bounce1 {
                -webkit-animation-delay: -0.32s;
                animation-delay: -0.32s;
            }

            .bounce2 {
                -webkit-animation-delay: -0.16s;
                animation-delay: -0.16s;
            }

            @-webkit-keyframes sk-bouncedelay {
                0%, 80%, 100% {-webkit-transform: scale(0)}
                40% {-webkit-transform: scale(1.0)}
            }

            @keyframes sk-bouncedelay {
                0%, 80%, 100% { 
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }

                40% { 
                    -webkit-transform: scale(1.0);
                    transform: scale(1.0);
                }
            }
        }
    }
}